{% block head %}
<title>Graphs</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}
<a href="/" class="button" style="float: right;">Back to Upload page</a>
<a href="/custom" class="button">custom</a>
<form method="POST" enctype="multipart/form-data">
    <label for="start_time">Start Time :</label>
    <select class="start_time" id="syear" name="syear">
        <option value="{{firstYear}}">{{firstYear}}</option>
        {% for year in yearlist1 %}
            <option value="{{ year }}">{{year}}</option>
        {% endfor %}
    </select>
    <select class="start_time" id="smonth" name="smonth">
        <option value="{{firstMonth}}">{{firstMonth}}</option>
        {% for month in monthlist1 %}
            <option value="{{ month }}">{{month}}</option>
        {% endfor %}
    </select>
    <input type="text" class="start_time" id="sdate" name="sdate" value={{firstDate}}></input>
    <input type="text" class="start_time" id="stime" name="stime" value={{firstTime}}></input>
    <br><br>
    <label for="end_time">End Time :</label>
    <select class="end_time" id="eyear" name="eyear">
        <option value="{{lastYear}}">{{lastYear}}</option>
        {% for year in yearlist2 %}
            <option value="{{ year }}">{{year}}</option>
        {% endfor %}
    </select>
    <select class="end_time" id="emonth" name="emonth">
        <option value="{{lastMonth}}">{{lastMonth}}</option>
        {% for month in monthlist2 %}
            <option value="{{ month }}">{{month}}</option>
        {% endfor %}
    </select>
    <input type="text" class="end_time" id="edate" name="edate" value={{lastDate}}></input>
    <input type="text" class="end_time" id="etime" name="etime" value={{lastTime}}></input>
    <input type="submit">
</form>
{% if msg %}
    <p>Please enter valid Start and End times</p>
{% endif %}
{% if timeerror %}
    <p>{{timeerror}}</p>
{% endif %}
{% if displayyes %}
    <h4>From {{displayFrom}} To {{displayTo}}</h4>

    <form method="POST" enctype="multipart/form-data" action="/download_graph">
        <label for="plotType">Download</label>
        <select class="plotType" name="plotType">
            <option>Events logged with time (Line Plot)</option>
            <option>Level State Distribution (Pie Chart)</option>
            <option>Event Code Distribution (Bar Plot)</option>
        </select>
        <label for="downgra">as</label>
        <select class="downgra" name="download_as">
            <option>PNG</option>
            <option>JPEG</option>
            <option>PDF</option>
        </select>
        <button type="submit" class="button">Download</button>
    </form>
    <h3>Events logged with Time</h3>
    <img src="{{ url_for('static', filename='events_vs_time.png') }}" alt="Line Plot">

    <h3>Level State Distribution</h3>
    <img src="{{ url_for('static', filename='level_state_distribution.png') }}" alt="Pie Chart">

    <h3>Event Code Distribution</h3>
    <img src="{{ url_for('static', filename='event_code_distribution.png') }}" alt="Bar Chart">
{% endif %}
{% endblock %}