{% block head %}
<title>Display Structured Logs</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}
<h2>{{ tableName }}</h2>
<a href="/download" class="button">Download csv</a>
<br><br>
<a href="/graphs" class="button">View Graphs & Plots</a>
<br><br>

<table id="csv">
    <tr>
        {% for head in headList %}
            <th>{{ head }}</th>
        {% endfor %}
    </tr>
    {% for rowdataList in dataList %}
        <tr>
            {% for rowdata in rowdataList %}
                <td>{{ rowdata }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}